<h3 class="font-serif text-4xl sm:text-5xl font-black text-primary text-center my-5">Task</h3>

<%= render 'shared/action_dialog', dialog_id: 'task_dialog', keep: true, title: @task.title do %>
  <div class="flex items-center gap-3 my-3">
    <p class="font-bold">Priority: </p>
    <p class="font-extrabold text-xl <%= @task.standard? ? 'text-green-500' : (@task.important? ? 'text-orange-500' : 'text-red-500') %>"><%= @task.priority.titleize %></p>
  </div>
  <div class="flex items-center gap-3 mt-3">
    <p class="font-bold">Assigned to: </p>
    <p><%= @task.user.full_name %></p>
  </div>

  <p class="font-bold mt-5">Description: </p>
  <div class="bg-white p-5 rounded-lg shadow">
    <%= @task.description %>
  </div>

  <p class="font-bold mt-5">Location: </p>
  <div data-controller="map" data-map-latitude-value="<%= @task.latitude %>" data-map-longitude-value="<%= @task.longitude %>" data-map-is-task-value="true">
    <div data-map-target="map" class="h-40"></div>
  </div>
<% end %>
